{deps, [
  {cowboy,  ".*", {git, "git://github.com/ninenines/cowboy", "1.0.0"}},
  {eredis,  ".*", {git, "git://github.com/wooga/eredis", {tag, "v1.0.8"}}},
  {eredis_pool,".*", {git, "git://github.com/hiroeorz/eredis_pool.git","master"}},
  {emysql,".*",{git,"git://github.com/lsm19870508/emysql.git","master"}},
  {jsx,     ".*", {git, "git://github.com/talentdeficit/jsx", "master"}},
  {lager,".*",{git,"git://github.com/basho/lager.git",{tag,"3.1.0"}}}
]}.