[
  {sasl, [
    {sasl_error_logger, false} %只有错误报告会被记录，progress报告之类的全部被忽略掉
  ]},
  {lager,
    [{log_root, "/log"},
      {log_size, 1048576},
      {log_level, debug},
      {crash_log, "crash.log"},
      {handlers,
        [{lager_console_backend, notice},
          {lager_file_backend, [{file, "error.log"}, {level, error}]}]
      }
    ]
  },
  {game_frame,
    [{redis_pools,[
      {global_or_local,global},
      {pools, [
        {dbsrv, [
          {size, 10},
          {max_overflow, 30}
        ],
          [
            {host,"127.0.0.1"},
            {port,6379}
          ]
        }
      ]
      }
    ]},
    {mysql_pools, [{enabled, true},
      {pools, [
        {default, [{host, "localhost"},
          {port, 3306},
          {user, "root"},
          {password, ""},
          {database, "db_demo"},
          {encoding, utf8},
          {size, 5}]}
      ]
      }]},
    {is_redis_to_mysql, true}, % 是否开启落地到mysql的功能
    {cowboy_port, 8080} % 服务器端口号
  ]}
].